[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
kivy = {extras = ["base"], version = "*"}
kivy-examples = "*"
kivymd = {file = "https://github.com/kivymd/KivyMD/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.9"
